* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    margin: 0px;
    padding: 0px;
    /* background: url('img/bg.jpg.jpg')no-repeat center center/ cover; */
}


.contact {
    display: flex;
    /* border: 2px solid black; */
    background: url(img/contact_us_bg.webp) no-repeat center center / cover;
    justify-content: center;
    align-items: center;
    height: 350px;
    color: white;
    font-size: 1.9rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem; 
    background-color: rgba(236, 236, 234, 1);
    /* height: 90h; */
    /* border: 2px solid red; */
}

.choose-us {
    display: inline-block;
    color: black;
    /* margin: 0px 5rem; */
    /* width: 46vw; */
    left: 133px;
    
}

.container>div {
    font-size: 17px;  
}

.choose-us p {
    text-align: justify;
    color: rgb(105 105 105);
    margin: 23px 0px;
}

.choose-us a {
    text-decoration: none;
    color: rgb(105 105 105);
    /* padding: 9px; */
}

.choose-us img {
    width: 24px;
    margin-right: 12px;
}

.choose-us .Detail {
    display: flex;
    padding: .8rem 0rem;
}

.form {
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.1);
    background-color: white;
    /* padding: 0px 59px; */
    /* width: 30%; */
    margin: 25px 120px;
}

.form .div {
margin: 35px 60px;
}

.div h1 {
    text-align: center;
}

.form-group {
    padding: 9px 0px;
    display: block;

}

.form-group input {
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    width: 100%;
    padding: 9px;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 4px;
}

.text {
    position: relative;
    margin: 23px 0px;
}

#text {
    /* width: ; */
    font-size: 1.1rem;
    /* height: 22vh; */

}

.div .btn2 {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: black;
    color: white;
    padding: 8px 14px;
    border: 2px solid gray;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn2:hover {
    background-color: rgb(82, 75, 75);
}


@media screen and (max-width: 1159px) {
          
    .contact{
        font-size: 1.5rem;
        text-align: center;
    }


    .container{
        /* border: 2px solid; */
        flex-direction: column;
        margin: 3rem 5rem ;
        padding: 0px;
    }

    
}

@media screen and (max-width: 509px){

    .contact{
        font-size: 1rem;
        text-align: center;
    }

    .container{
        margin: 3rem 1rem;
    }
    .choose-us h1{
        font-size: 1.5rem;
        
    }
    .form .div{
        margin: 2rem 1rem ;
    }
}

@media screen and (max-width: 330px) {

    .form-group input{
        width: 188px;
    }

    #text{
        width: 188px;
    }
    
}
