* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    margin: 0px;
    padding: 0px;
    /* background: url('img/bg.jpg.jpg')no-repeat center center/ cover; */
}

header {
    background-color: black;
    top: 0px;
    justify-content: space-between;
    padding: 0px 23px; 
    align-items: center;
    display: flex;
    position: sticky;
    height: 77px;
}

.left img {
    width: 70px;
    /* border-radius: 50%; */
}

.left div {
    text-align: center;
    font-size: 12px;
    color: white;
}

.mid {
    position: relative;
    /* display: flex; */
    text-align: center;
    left: 0%;
    /* top: -46px; */
    margin: 7px 0px;

}

/* .right {
    position: absolute;
    right: 16px;
    top: 18px;
    ;
    display: inline-block;

    } */

/* .left li {
        font-size: 58;
    } */

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}
 
.navbar li a {
    color: white;
    text-decoration: none;
    padding: 7px 23px;
}


.navbar li a:hover {
    text-decoration: underline;
    color: gray;
}

.btn {
    font-family: 'Merriweather Sans', sans-serif;
    border-radius: 3px;
    /* margin: 0px 50px; */
    padding: 17px 14px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(82, 75, 75);
}


.contact {
    display: flex;
    /* border: 2px solid black; */
    background: url(img/contact_us_bg.webp) no-repeat center center / cover;
    justify-content: center;
    align-items: center;
    height: 350px;
    color: white;
    font-size: 1.9rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px ;
    margin: 3rem 5rem;
    /* height: 90h; */
    /* border: 2px solid red; */
}

.choose-us {
    display: inline-block;
    color: black;
    /* margin: 0px 5rem; */
    /* width: 46vw; */
    left: 133px;
    
}

.container>div {
    font-size: 17px;  
}

.choose-us p {
    text-align: justify;
    color: rgb(105 105 105);
    margin: 23px 0px;
}

.choose-us a {
    text-decoration: none;
    color: rgb(105 105 105);
    /* padding: 9px; */
}

.choose-us img {
    width: 24px;
    margin-right:12px;
}

.choose-us .Detail {
    display: flex;
    padding: .8rem 0rem;
}

.form {
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.1);
    background-color: white;
    /* padding: 0px 59px; */
    /* width: 30%; */
    margin: 25px 120px;
}

.form .div {
margin: 35px 60px;
}

.div h1 {
    text-align: center;
}

.form-group {
    padding: 9px 0px;
    display: block;

}

.form-group input {
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    width: 100%;
    padding: 9px;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 4px;
}

.text {
    position: relative;
    margin: 23px 0px;
}

#text {
    /* width: ; */
    font-size: 1.1rem;
    /* height: 22vh; */

}

.div .btn2 {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: black;
    color: white;
    padding: 8px 14px;
    border: 2px solid gray;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn2:hover {
    background-color: rgb(82, 75, 75);
}


footer {
    background-color: rgb(33, 4, 4);

}

.footer {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    height: 190px;
    margin: 0px 45px;
    color: white;
}

.footer-first {
    width: 430px;
    line-height: 1.8rem;
    margin: 25px 46px;
}

.footer-second ul li a {
    text-decoration: none;
    color: white;
}

.footer-second ul li {
    list-style: none;
    margin: 23px 46px;
}

.footer-third ul li a {
    text-decoration: none;
    right: 0px;
    color: white;
}

.footer-third ul li {
    list-style: none;
    margin: 23px 46px;
}

hr {
    margin: 12px 23px;
}

.footer-down {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0px 38px;
    padding: 8px 0px;

}

@media screen and (max-width: 1159px) {
          
    .contact{
        font-size: 1.5rem;
    }


    .container{
        /* border: 2px solid; */
        flex-direction: column;
        margin: 3rem 5rem ;
        padding: 0px;
    }

    
}

@media screen and (max-width: 509px){

    .container{
        margin: 3rem 1rem;
    }
    .choose-us h1{
        font-size: 1.5rem;
        
    }
}

@media screen and (max-width: 390px) {
    .form .div{
        margin: 2rem 1rem ;
    }
    
}