* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.vid {
    width: 100%;
}

.section1 {
    display: flex;
    background-color: #f7f7f7;
    padding: 5rem 7rem; 
}

.section1 h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 12px;
    /* line-height: 2; */
}

.section1 .SSpro {
    margin-left: 5rem;
}

.section1 p {
    padding: 12px 0px;
    line-height: 1.7;
    color: rgba(112, 115, 114, 1);
}

.section1 a {
    display: inline-block;
    border: 2px solid black;
    padding: 1rem 2rem;
    font-size: 1rem;
    margin: 2rem 0rem;
    cursor: pointer;
    background-color: black;
    color: white;
}

.section1 a:hover {
    background-color: rgb(38, 36, 36);
}

.section2 {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.section2 .vid-2 {
    width: 50vw;
    margin: 7rem 0rem 7rem 7rem;
    border: 2px solid white;
}

.section2 .club {
    margin: 7rem 6rem 7rem 2rem;
}

.section2 h2 {
    font-size: 2.5rem;
    line-height: 2;
}

.section2 p {
    line-height: 1.7;
}

.section2 a {
    display: inline-block;
    border: 2px solid white;
    padding: 1rem 2rem;
    font-size: 1rem;
    margin: 2rem 0rem;
    cursor: pointer;
    background-color: black;
    color: white;
}

.section2 a:hover {
    background-color: white;
    color: black;
}

.team {
    background-color: rgba(236, 236, 234, 1);
    /* border: 2px solid red; */
    display: inline-block;
    border-radius: 8px;
    align-content: center;
    padding: 70px 0px;
    text-align: center;
    /* height: 50vh; */
    width: 98.9vw;
}

.team h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.box {
    display: flex;
    margin: 16px 10px;
    align-items: end;
    justify-content: center;
}

.box1 {
    margin: 12px  12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 274px;
    /* height: 274px; */
    border-radius: 5px;
    background-color: white;
}

.img img {
    width: 171px;
    height: 171px;
    object-fit: cover;
    object-position: center;
    margin: 20px 0px;
    border-radius: 50%;
    cursor: pointer;
}

.box h2 {
    color: black;
    padding: 6px 0px;
    /* position: absolute; */
}

.box .position {
    color: rgb(164 164 164);
    /* position: absolute; */
    padding: 6px 0px;
}

/* ========================================slider======================================= */
/* .box {
    display: flex;
    transition: transform 0.5s ease;
}

.box1 {
    min-width: 100%;
    box-sizing: border-box;
} */

/* .button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
} */

/* ==============================================slider================================= */



@media screen and (max-width: 1004px) {
    .box {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }


    .section1 {
        padding: 4rem 2rem;
    }

}

@media screen and (max-width: 1169px) {

    .section2 {
        flex-direction: column;
    }

    .section2 .vid-2 {
        width: 70vw;
        margin: 5rem 0rem 2rem 0rem;
    }

    .section2 .club {
        margin: 0rem 6rem 4rem 8rem;
    }

}

@media screen and (max-width: 1200px) {
    .section1 {
        flex-direction: column;
    }

    .section1 .SSpro {
        margin-left: 0rem;
    }
}

@media screen and (max-width: 828px) {
    .section2 .vid-2 {
        width: 90vw;
        margin: 5rem 0rem 2rem 0rem;
    }

    .section2 .club {
        margin: 0rem 1rem 4rem 1rem;
    }

    .section1{
        padding: 4rem 1rem;
    }
    .section1 h1{
        font-size: 1.7rem;
    }

    .section1 a {
        padding: 1rem 1rem;
        font-size: 0.7rem;
        margin: 1rem 0rem;
        text-align: center;

    }
}
