* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    margin: 0px;
    padding: 0px;
    /* background: url('img/bg.jpg.jpg')no-repeat center center/ cover; */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.contant {
    /* border: 2px solid red; */
    width: 540px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.1);
    padding: 19px;
    text-align: center;
    margin: 2rem;

}

.container img {
    width: 200px;
    margin: 23px 0px;
}

.div {
    color: orange;
    font-size: 1.9rem;
    padding: 23px 0px;
}

.UTR {
    margin: 23px 0px;
}

.UTR input {
    width: 152px;
    height: 31px;
    text-align: center;
    font-size: 1rem;
    border-radius: 6px;
}

.btn {
    /* height: 35px; */
    border-radius: 9px;
    cursor: pointer;
    font-size: 15px;
    padding: 7px 7px;
    background-color: skyblue;
}

.btn:hover {
    background-color: red;
}

.note {
    margin-top: 24px;
    color: red;
    /* text-align: left; */
    font-size: 1.3rem;
}

.container .home {
    display: flex;
    justify-content: space-between;
    margin: 30px 13px;
    /* border: 2px solid red; */
    align-items: center;
    text-decoration: none;
}

.container .home a {
    border: 2px solid gray;
    width: 20%;
    /* height: 3vh; */
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 1004px) {
    .div {
        font-size: 1.2rem;
    }

    .UTR {
        margin: 0px;
        font-size: .6rem;
    }

    .UTR input {
        height: 19px;
        font-size: .8rem;
    }

    .btn {
        font-size: 9px;
        padding: 4px 4px;
        border-radius: 4px;
    }
    
    .note{
        font-size: 1rem;
    }

    .container .home a {
        font-size: 1rem;
    }
}