* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    margin: 0px;
    padding: 0px;
    /* background: url('img/bg.jpg.jpg')no-repeat center center/ cover; */
}

.container {
    width: 38%;
    /* border: 2px solid red; */
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.1);
    /* top: 30%; */
    display: block;
    position: relative;
    left: 25%;
    /* height:100vh;*/
    margin: 53px 13px;
    padding: 19px;
    text-align: center;
    margin: 100px;

}

.container img {
    width: 35%;
    padding: 23px 0px;
}

.div {
    color: orange;
    font-size: 1.9rem;
    padding: 23px 0px;
}

.UTR {
    margin: 23px 0px;
}

.UTR input {
    width: 30%;
    height: 31px;
    text-align: center;
    font-size: 1rem;
    border-radius: 6px;
}

.btn {
    height: 35px;
    border-radius: 9px;
    cursor: pointer;
    font-size: 15px;
    width: 15%;
    background-color: skyblue;
}

.btn:hover {
    background-color: red;
}

.note {
    margin-top: 24px 0px;
    color: red;
    /* text-align: left; */
    font-size: 1.3rem;
}

.container .home {
    display: flex;
    justify-content: space-between;
    margin: 30px 13px;
    /* border: 2px solid red; */
    align-items: center;
    text-decoration: none;
}

.container .home a {
    border: 2px solid gray;
    width: 20%;
    /* height: 3vh; */
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
}