
body {
    margin: 0px;
    padding: 0px;
    height: 100px;
    /* background: url('img/6.jpg')no-repeat center center/cover; */
    /* content:''; */
    display: flex;
    color: rgb(243, 245, 242);
}
 form::before{
    background: url('img/8.jpg')no-repeat center center/cover;
    content:'';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 12;
}
.res{
    background-color: rgb(175, 186, 247);
    border-radius: 20px;
    font-size: 100px;
}
.btn{
    /* color: rgb(247, 247, 248); */
    background-color: rgb(233, 100, 95);
    border-radius: 10px;
    font-size: 20px;
}
.form{
    font-size: 25px;
    text-align: center;
    /* left: 30%; */
    margin: 10px auto;
}
.form input{
text-align: center;
font-weight: bold;
display: block;
width: 270px;
padding: 2px;
border: 2px solid black;
margin: 10px auto;
font-size: 20px;
border-radius: 10px;
} 
