.dropdown_menu{
    position: absolute;
    right: 2rem;
    display: none;
    top: 60px;
    height: 0px;
    width: 400px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: heigth 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 400px;
}

.dropdown_menu li, a{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    justify-content:center ;

}

.dropdown_menu .btn{
    width: 100%;
    display:flex;
    justify-content: center;
}




@media screen and (max-width: 1004px) {
    
.header .mid,
.header .right{
    display: none;
}


.menu-icon{
display: block;
}
.dropdown_menu{
    display: block;
}
}

@media screen and (max-width: 574) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}