/* CSS Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    margin: 0px;
    padding: 0px;
    /* background: url('img/bg.jpg.jpg')no-repeat center center/ cover; */
}

.team {
    background: url(img/out_team_bg.jpg) no-repeat center center / cover;
    display: flex;
    justify-content: center;
    color: white;
    height: 490px;
    align-items: center;
    font-size: 1.9rem;
}

.container {
    /* border: 2px solid red; */
    /* width: 80%; */
    /* height: 163vh; */
    margin: 32px 148px;
    text-align: center;
    /* top: 71%; */
}

.container .box {
    /* border: 2px solid black; */
    display: inline-block;
    margin: 11px 18px;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
}

.img img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: center;
    padding: 23px;
}

.position {
    margin: 3px 22px;
    text-align: left;
}

.box:hover {
    background-color: #707372;
    color: white;
}

/* .box .position:hover {
    color: white;
} */

.contact {
    background: url(img/about_our_team.webp);
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 0px;
    margin: 23px 73px;
    color: white;
}

.contact>div {
    margin: 0px 133px;
}

form {
    margin: 0px 80px;
}

.contact .btn1 {
    background-color: white;
    /* margin: 0px 23px; */
    padding: 18px 20px;
    font-size: 1.2rem;
    color: black;
}

.btn1:hover {
    background-color: gray;
    color: white;
}


@media screen and (max-width: 1004px) {

    .team {
        /* align-items: center;
        justify-content: center; */
        font-size: 1rem;
    }

    .container {
        flex-direction: column;
        margin: 0px 0px;
    }

    .container .box {
        margin: 11px 2px;
    }

    .contact {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 50px 10px;
    }

    .contact h1 {
        font-size: 1.8rem;
    }

    .contact>div {
        margin: 20px 1px;

    }
}

@media screen and (max-width: 300px) {

    .img img {
        width: 70vw;
        height: 40vh;
    }
}